---
const { title, img, href, date, tags } = Astro.props;
---

<a href={href} class="card">
  <img src={img} />

  <div class="card-content">
    <h3>{title}</h3>
    <p style="color: var(--muted); font-size: 0.9rem;">
      {date}
    </p>

    <div>
      {tags.map(tag => <span class="tag">{tag}</span>)}
    </div>
  </div>
</a>